In [1]:
import requests
import pandas as pd

In [36]:
# df = pd.read_html('https://www.moneycontrol.com/stocks/marketinfo/splits/homebody.php?sel_year=1989',header=0)
import os
os.chdir('E:\\years\\')

In [37]:
def getFrame(df):
    for d in df:
        if len(d.columns)==4:
            return d

In [78]:
def getSplitFiles():
    for yr in range(1989,2020):
        try:
            df = pd.read_html('https://www.moneycontrol.com/stocks/marketinfo/splits/homebody.php?sel_year='+str(yr),header=0)
            df = getFrame(df).dropna()
            df.to_csv(str(yr)+'.csv')
            print yr,'completed '
        except:
            print yr,'not processed'
            pass

In [79]:
getSplitFiles()

1989 completed
1990 completed
1991 completed

In [80]:
def combineFiles():
    df = pd.DataFrame()
    for yr in range(1989,2020):
        temp = pd.read_csv(str(yr)+'.csv',header=1)
        df = pd.concat([df,temp],sort=False)
    return df.filter(['Company','Old FV','New FV','Split Date'])

In [81]:
df = combineFiles().drop_duplicates()
df.to_csv('split.csv')

In [111]:
companies  = os.listdir('E:\\Research-Stuff\\')

In [113]:
companies = [company.replace('.csv','') for company in companies if company not in 'top100.csv']

In [117]:
def getsplitlink(query=None):
    for j in search(' {} MoneyControl Stock Split'.format(query), tld="co.in", num=10, stop=1, pause=2):
        return str(j)

In [136]:
def getsplitlist():
    df = [] #pd.DataFrame()
    for company in companies:
        try:
            link = str(getsplitlink(company))
        except:
            link = None
            pass
        df.append([company,link])
    return pd.DataFrame(df,columns=['Company','SplitLink'])

In [137]:
xx = getsplitlist()

In [140]:
xx.to_csv('E:\\years\\top100 Split details\\splitlinks.csv')

In [ ]:
def getSplitDates():
    deal = pd.read_html(link).dropna()

In [143]:
pd.read_html('https://www.moneycontrol.com/company-facts/adanigreenenergylimited/splits/ADANI54145')[0].dropna()

Empty DataFrame
Columns: [Announcement Date, Old FV, New FV, Ex-Split Date]
Index: []

In [161]:
# for name,link in xx.iterrows():
#     print name, str(link.values[0])
## made some visual inspections and made some changes

In [163]:
linkdf = pd.read_csv('E:\\years\\top100 Split details\\splitlinks.csv').set_index('Company')

In [167]:
companyDict  = linkdf.to_dict()['SplitLink']

In [168]:
os.chdir('E:\\years\\top100 Split details\\')

In [181]:
# ExceptionList = []
# for company,link in companyDict.iteritems():
#     try:
#         df = pd.read_html(str(link))[0].dropna()
#         print 'Completed' , company
#     except:
#         df = pd.DataFrame()
#         print 'Exception', company
#         ExceptionList.append(company)
#     df.to_csv(company+'.csv')
# ## i guess Canara Bank Split Never Recorded .
# ## ?

In [182]:
ExceptionList ## manually downloaded as saved

['MCDOWELL-N']

In [197]:
file_ = os.listdir(os.getcwd())

In [247]:
DF = pd.DataFrame()
for file__ in file_:#[:4]:
    if '0' in pd.read_csv(file__).columns:
        df = pd.read_csv(file__,skiprows=1)
    else:
        df = pd.read_csv(file__)
    df = df.filter(['Announcement Date','Old FV','New FV','Ex-Split Date'])
    if len(df)>0:
        df['symbol'] = file__.replace('.csv','')
        df.set_index('symbol')
        DF = pd.concat([DF,df],axis=0,sort=False)
        
        ##https://www.moneycontrol.com/company-facts/lichousingfinance/splits/LIC#LIC ;link also needed to be manually changed

In [250]:
DF.to_csv("E:\\years\\splitlist.csv") ## finally have a split list. ##woff!

In [11]:
import pandas as pd
df = pd.read_csv('E:\\years\\splitlist.csv')

In [12]:
df=  df[~(df['Ex-Split Date']=='-')]

In [14]:
df['AdjustmentFactor']=df['New FV']/df['Old FV'];df.head()

  Announcement Date  Old FV  New FV Ex-Split Date     symbol  AdjustmentFactor
0        29-07-1994     100      10    29-07-1994      CIPLA               0.1
1        03-01-1996     100      10    19-10-1989   RELIANCE               0.1
3        03-01-1996     100      10    23-10-1989  TATASTEEL               0.1
4        27-09-1999      10       1    06-12-1999       ZEEL               0.1
5        30-11-1999      10       5    24-01-2000       INFY               0.5

In [22]:
# df['symbol'].value_counts()
df[df['symbol']=='HDFCBANK']

   Announcement Date  Old FV  New FV Ex-Split Date    symbol  AdjustmentFactor
38        18-04-2011      10       2    14-07-2011  HDFCBANK               0.2
59        22-05-2019       2       1    19-09-2019  HDFCBANK               0.5